@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');


body {
    background-color: #FFF8F2;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'kreon', sans-serif;
}

.klink {
    background: url(images/Klink.png) no-repeat;
    background-size: cover;
    height: 525px;
}

h1 {
    text-align: center;
    font-size: 32px;
    color: #5E5046;
    font-weight: bold;
}

p {
    font-size: 20px;
    color: #5E5046;
    text-align: center;
}

.foto {
    display: flex;


}

.Yoga {
    flex: 50%;
    position: relative;
    text-align: center;


}

.nummer {
    background: #606542;
    width: 420px;
    height: 420px;
    margin: 10px;
    margin-left: 35px;

}

.Yoga .nummer img {

    width: 300px;
    height: 300px;
    margin-top: 55px;
}

#img {
    background: #83786B;
    width: 420px;
    height: 420px;
    margin: 10px;
    margin-left: 35px;
}

.Yoga #img img {

    width: 300px;
    height: 300px;
    margin-top: 55px;
}

.Yoga .kont {
    border-bottom: 2px solid #5E5046;
    width: 370px;
    margin-left: 35px;
}

.Yoga .kont h5 {
    font-size: 18px;

    color: #606542;
    margin-right: 25px;

}

span {
    color: #606542;
    margin-left: 16px;
    font-size: 18px;
}

.Yoga p {

    font-size: 16px;
    color: #5E5046;
}

.Yoga .btn {
    background: #606542;
    color: #F3F0E9;
    height: 26px;
    width: 111px;
    border-radius: 4px;
}

.Yoga .nummers img {
    width: 350px;
    height: 350px;
    margin: 5px;
    border: 1px solid #F3F0E9;
}

.Yoga .top-right {
    position: absolute;
    top: 65px;
    right: 72px;
    width: 150px;
    height: 40px;
    background: white;

}

.Yoga .top-right .top {

    font-size: 15px;
    color: #5E5046;
    font-weight: bold;
}

.heading {
    text-align: center;

    font-size: 32px;
    color: #5E5046;
    font-weight: bold;
}

@media only screen and (max-width: 768px) {

    .Yoga,
    .foto {
        flex-direction: column;
        display: flex;

    }
}

@media only screen and (max-width: 480px) {

    .Yoga,
    .foto {
        width: 100%;
        flex-direction: column;
        display: flex;
    }
}

@media only screen and (max-width:300px) {
    .klink {
        width: 100%;
    }

    h1 {
        font-size: 20px;
    }

    p {
        font-size: 16px;
    }
}